body {
  background: rgb(74, 8, 128);
  background: radial-gradient(
    circle,
    rgba(74, 8, 128, 1) 22%,
    rgba(45, 5, 62, 1) 53%,
    rgba(13, 1, 21, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Bodoni Moda", serif;
  font-weight: 800;
  font-size: 90px;
  font-style: normal;
  text-transform: uppercase;
}

p,
.card {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

nav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: rgba(30, 2, 43, 0.6);

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      text-align: center;
      a {
        text-decoration: none;
        padding: 10px;
        font-size: 22px;
      }
    }
  }
}
